# {{ ansible_managed }}
#
# Server / Singleplayer
#

server_name = Craig's Server
server_description = Come and join us! :)
server_address = minetest.davison.io
server_url = https://forum.minetest.net/viewtopic.php?t=7010
server_announce = true

## Network
port = 30000

### Advanced
max_simultaneous_block_sends_per_client = 2 # (default: 10)
max_simultaneous_block_sends_server_total = 50 # (default: 40)
full_block_send_enable_min_time_from_building = 0.1 # How many seconds the block takes to appear as if it is removed. (default: 2.0)
max_packets_per_iteration = 512 # (default: 1024)

## Game
motd = Welcome to Craig's Server! || Type /welcome for more information.
max_users = 20 (default: 15)
map-dir = /usr/share/games/minetest/worlds/server
default_privs = shout, fast
static_spawnpoint = 0, 5, 0
disallow_empty_password = true
disable_anticheat = true # Causes some issues when set to true
enable_rollback_recording = true
kick_msg_shutdown = Server shutting down. We will be back soon.
kick_msg_crash = Server has crashed. Please try rejoining.
ask_reconnect_on_crash = true
active_object_send_range_blocks = 2 # (default: 3)
active_block_range = 1 # (default: 2)
max_block_send_distance = 5 # (default: 10)
max_forceloaded_blocks = 10 # (default: 16)
time_send_interval = 5 # (default: 5)
server_map_save_interval = 15.3 # (default: 5.3)

### Physics (from Carbone)
# Decreased acceleration compared to minetest_game.
movement_acceleration_default = 2.4
movement_acceleration_air = 1.2

# Very fast acceleration in fast mode for more control.
movement_acceleration_fast = 24

# Walking is 20 % faster than in minetest_game. Makes playing without the "fast"
# privilege less boring.
movement_speed_walk = 4.8

# 40% the speed of walking.
movement_speed_crouch = 1.92

# 5 times faster than walking.
movement_speed_fast = 24

# Makes climbing speed faster. Also makes ladders more
# useful.
movement_speed_climb = 4

# Jump height slightly reduced.
movement_speed_jump = 6.35

# Faster movement in liquids. Jumping at the water surface also speeds up swimming.
movement_liquid_fluidity = 1.6

# Slightly less gravity.
movement_gravity = 9.5

### Advanced
server_unload_unused_data_timeout = 20 # (default: 29)
max_objects_per_block = 40 # (default: 49)
sqlite_synchronous = 0 # (default: 2)
dedicated_server_step = 0.5 # (default: 0.1)

## Mapgen
mg_name = v6
max_block_generate_distance = 4 # (default: 6)
mg_flags = trees,caves,dungeons,light

### Advanced
#### Mapgen v6
mgv6_spflags = jungles,biomeblend,mudflow,snowbiomes

#
# Client and Server
#

name = CraigyDavi

#
# Mods
#

give_initial_stuff = true

#
# Secret settings
#

{% for setting in minetest_secret_settings %}
{{setting}}
{% endfor %}
