# {{ ansible_managed }}

#
# Server / Singleplayer
#

server_name = Craig's Server
server_description = Well-built, reliable and popular world for new or experienced builders. Come and join us! :)
server_address = minetest.davison.io
server_url = https://davison.io/minetest/craig-server/
server_announce = true


## Network

port = 30000


### Advanced

# (default: 10)
max_simultaneous_block_sends_per_client = 5
# (default: 40)
max_simultaneous_block_sends_server_total = 100
# (default: 1024)
max_packets_per_iteration = 4096


## Game

motd = Welcome to Craig's Server! Visit https://davison.io/minetest/craig-server for more information.
max_users = 30
map-dir = /usr/share/games/minetest/worlds/server
default_privs = shout, fast
static_spawnpoint = -21, 7, 0
disallow_empty_password = true
# Causes some issues when set to true
disable_anticheat = true
enable_rollback_recording = true
kick_msg_shutdown = Server shutting down. We'll be back soon.
kick_msg_crash = Server has crashed. Please try rejoining.
ask_reconnect_on_crash = true
# (default: 3)
active_object_send_range_blocks = 2
# (default: 2)
active_block_range = 1
# (default: 10)
max_block_send_distance = 8
# (default: 5)
time_send_interval = 20
# (default: 5.3)
server_map_save_interval = 30


### Physics (from Carbone)

# Decreased acceleration compared to minetest_game.
movement_acceleration_default = 2.4
movement_acceleration_air = 1.2

# Very fast acceleration in fast mode for more control.
movement_acceleration_fast = 24

# Walking is 20 % faster than in minetest_game. Makes playing without the "fast"
# privilege less boring.
movement_speed_walk = 4.8

# 40% the speed of walking.
movement_speed_crouch = 1.92

# 5 times faster than walking.
movement_speed_fast = 24

# Makes climbing speed faster. Also makes ladders more
# useful.
movement_speed_climb = 4

# Jump height slightly reduced.
movement_speed_jump = 6.35

# Faster movement in liquids. Jumping at the water surface also speeds up swimming.
movement_liquid_fluidity = 1.6

# Slightly less gravity.
movement_gravity = 9.5


### Advanced

# https://forum.minetest.net/viewtopic.php?p=132064#p132064 (default: 29)
server_unload_unused_data_timeout = 10
# Make a step (change/update) every X seconds https://forum.minetest.net/viewtopic.php?id=1825 (default: 0.1)
dedicated_server_step = 0.5
# Prevent high CPU from liquids http://irc.minetest.ru/minetest-dev/2013-10-24#i_3390268 (default: 10000)
liquid_loop_max = 750


## Mapgen

mg_name = v6
# (default: 6)
max_block_generate_distance = 4
mg_flags = trees,caves,dungeons,light


### Advanced

#### Mapgen v6

mgv6_spflags = jungles,biomeblend,mudflow,snowbiomes


#
# Client and Server
#

name = CraigyDavi

#
# Mods
#

give_initial_stuff = true

irc.nick = craig-server
irc.server = chat.freenode.net
irc.channel = #davisonio-minetest
irc.reconnect = 1800
irc.timeout = 15

areas.self_protection = true
areas.self_protection_max_size = 200, 200, 200
areas.self_protection_max_areas = 999999

#
# Secret settings
#

{% for setting in minetest_secret_settings %}
{{setting}}
{% endfor %}
