# {{ ansible_managed }}

# Run pre task
bash pre.sh

# Run duplicity with our passphrase

{% for item in duplicity_profiles %}
PASSPHRASE="{{item.passphrase}}" duplicity {% for option in item.options %}{{ option }} {% endfor %}
{% endfor %}

# Run post task
bash post.sh
