# {{ ansible_managed }}

{% for item in duplicity_profiles %}

# Run pre task
bash /etc/duplicity/{{item.name}}/pre.sh

# Run duplicity with our passphrase
PASSPHRASE="{{item.passphrase}}" duplicity {% for option in item.options %}{{ option }} {% endfor %}

# Run post task
bash /etc/duplicity/{{item.name}}/post.sh

{% endfor %}
