# {{ ansible_managed }}
{% for item in duplicity_profiles %}

{% for include in item.includes %}
+ {{ include }}
{% endfor %}
{% for exclude in item.excludes %}
- {{ exclude }}
{% endfor %}

{% endfor %}
