# {{ ansible_managed }}
# Based off https://github.com/LevPasha/instabot.py/blob/master/example.py
{% for item in instabot_scripts %}
import sys, os
sys.path.append(os.path.join(sys.path[0],'src'))
from instabot import InstaBot
from check_status import check_status
from feed_scanner import feed_scanner
from unfollow_protocol import unfollow_protocol
from follow_protocol import follow_protocol
import time

bot = InstaBot(login="{{ item.login }}", password="{{ item.password }}",
    tag_list={{ item.tag_list }},
    like_per_day={{ item.like_per_day }},
    max_like_for_one_tag={{ item.max_like_for_one_tag }},
    follow_per_day={{ item.follow_per_day }},
    follow_time={{ item.follow_time }},
    media_max_like={{ item.media_max_like }},
    unfollow_per_day={{ item.unfollow_per_day }},
    log_mod=1)

while True:
    mode = {{ item.mode }}

    if mode == 0 :
        bot.new_auto_mod()

    elif mode == 1 :
        check_status(bot)
        while bot.self_following - bot.self_follower > 200:
            unfollow_protocol(bot)
            time.sleep(10*60)
            check_status(bot)
        while bot.self_following - bot.self_follower < 400:
            while len(bot.user_info_list) <50 :
                feed_scanner(bot)
                time.sleep(5*60)
                follow_protocol(bot)
                time.sleep(10*60)
                check_status(bot)

    elif mode == 2 :
        bot.bot_mode = 1
        bot.new_auto_mod()

    elif mode == 3 :
        unfollow_protocol(bot)
        time.sleep(10*60)

    elif mode == 4 :
        feed_scanner(bot)
        time.sleep(60)
        follow_protocol(bot)
        time.sleep(10*60)

    elif mode == 5 :
        bot.bot_mode=2
        unfollow_protocol(bot)

    else :
        print ("Wrong mode!")

{% endfor -%}
