# {{ ansible_managed }}
# https://github.com/instagrambot/instabot

import schedule
import sys
import os
import argparse
import threading
import time

sys.path.append(os.path.join(sys.path[0], '../'))

from instabot import Bot

bot = Bot(
	max_likes_per_day=1000,
	max_unlikes_per_day=1000,
	max_follows_per_day=500,
	max_unfollows_per_day=500,
	max_comments_per_day=0,
	max_likes_to_like=20,
	filter_users=True,
	max_followers_to_follow=10000,
	min_followers_to_follow=10,
	max_following_to_follow=7500,
	min_following_to_follow=10,
	max_followers_to_following_ratio=50,
	max_following_to_followers_ratio=50,
	max_following_to_block=7500,
	min_media_count_to_follow=6,
	like_delay=15,
	unlike_delay=15,
	follow_delay=30,
	unfollow_delay=30,
	comment_delay=60,
	whitelist=False,
	blacklist=False,
	comments_file=False,
	stop_words=False
)
bot.login(username="smoothiestacks", password="{{instabot_scripts.smoothiestacks.password}}")

#fn to return random value for separate jobs
def get_random(from_list):
    _random=random.choice(from_list)
    print("Random from ultimate.py script is chosen: \n" + _random + "\n")
    return _random

#function to make threads -> details here http://bit.ly/faq_schedule
def run_threaded(job_fn):
    job_thread=threading.Thread(target=job_fn)
    job_thread.start()

def job1():
    bot.unfollow_non_followers()

def job2():
    for hashtag in ['smoothie', 'smoothies', 'smoothiestack', 'smoothiestacks', 'layeredsmoothie', 'layeredsmoothies', 'smoothiebowl', 'smoothiebowls']:
    	bot.like_hashtag(hashtag)

def job3():
    for hashtag in ['smoothie', 'smoothies', 'smoothiestack', 'smoothiestacks', 'layeredsmoothie', 'layeredsmoothies', 'smoothiebowl', 'smoothiebowls']:
        bot.follow_users(bot.get_hashtag_users(hashtag))


schedule.every(7).days.do(run_threaded, job1)
schedule.every(1).hours.do(run_threaded, job2)
schedule.every(2).hours.do(run_threaded, job3)

while True:
    schedule.run_pending()
    time.sleep(1)