OAUTH_TOKEN:{{ item.value.oauth_token }}
OAUTH_SECRET:{{ item.value.oauth_secret }}
CONSUMER_KEY:{{ item.value.consumer_key }}
CONSUMER_SECRET:{{ item.value.consumer_secret }}
TWITTER_HANDLE:{{ item.value.name }}
ALREADY_FOLLOWED_FILE:{{ item.value.name }}-already-followed.txt
FOLLOWERS_FILE:{{ item.value.name }}-followers.txt
FOLLOWS_FILE:{{ item.value.name }}-following.txt
USERS_KEEP_FOLLOWING:
USERS_KEEP_UNMUTED:
USERS_KEEP_MUTED:
FOLLOW_BACKOFF_MIN_SECONDS:80
FOLLOW_BACKOFF_MAX_SECONDS:90
