# {{ ansible_managed }}
# https://github.com/rhiever/TwitterFollowBot
from TwitterFollowBot import TwitterBot

{% for account, item in twitterfollowbot_scripts.iteritems() %}
bot_{{ item.name }} = TwitterBot("{{ item.name }}-config.txt")
bot_{{ item.name }}.sync_follows()
bot_{{ item.name }}.auto_fav("{{ item.phrase1 }}", count={{ item.phrase1_count }})
bot_{{ item.name }}.auto_fav("{{ item.phrase2 }}", count={{ item.phrase2_count }})
bot_{{ item.name }}.auto_fav("{{ item.phrase3 }}", count={{ item.phrase3_count }})
bot_{{ item.name }}.auto_fav("{{ item.phrase4 }}", count={{ item.phrase4_count }})
{% endfor -%}
