// {{ansible_managed}}
// # Ghost Configuration
// Setup your Ghost install for various [environments](http://support.ghost.org/config/#about-environments).

// Ghost runs in `development` mode by default. Full documentation can be found at http://support.ghost.org/config/

var path = require('path'),
    config;

config = {
    production: {
        url: 'http://davison.io/blog',
        mail: {
            transport: 'SMTP',
            from: 'craig@davison.io',
            options: {
                host: 'smtp.mandrillapp.com',
                port: 587,
                service: 'Mandrill',
                auth: {
                    user: 'craig.davison3@gmail.com',
                    pass: '{{ghost_mail_auth_pass}}'
                }
            }
        }
        database: {
            client: 'sqlite3',
            connection: {
                filename: path.join(__dirname, '/content/data/ghost.db')
            },
            debug: false
        },

        server: {
            host: '127.0.0.1',
            port: '2368'
        }
    }
};

module.exports = config;
