# {{ ansible_managed }}
[Unit]
Description=Ghost - Just a blogging platform
After=network.target

[Service]
Type=simple
WorkingDirectory={{ghost_location}}
User=root
Group=root
ExecStart=/usr/bin/npm start --production
ExecStop=/usr/bin/npm stop --production
Restart=always
SyslogIdentifier=Ghost

[Install]
WantedBy=multi-user.target
