# {{ ansible_managed }}
{% for item in minetest_instances %}
[Unit]
Description=Minetest multiplayer server minetest-{{ item.name }}.conf server config
Documentation=man:minetestserver(6)
After=network.target

[Service]
Restart=on-failure
User=root
Group=root
ExecStart=/usr/bin/minetest --server --config /usr/share/minetest/minetest-{{ item.name }}.conf --logfile /var/log/minetest/minetest-{{ item.name }}.log --world {{ item.map }} &

[Install]
WantedBy=multi-user.target
{% endfor -%}
