[Unit]
Description=Minetest multiplayer server minetest-server.conf server config
Documentation=man:minetestserver(6)
After=network.target

[Service]
Restart=on-failure
User=Debian-minetest
Group=games
ExecStart=/usr/lib/minetest/minetestserver --config /etc/minetest/minetest-server.conf --logfile /var/log/minetest/minetest-server.log

[Install]
WantedBy=multi-user.target
