# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name askben.co.uk www.askben.co.uk;

  include /etc/nginx/include-basic.conf;

  return 301 https://askben.co.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.askben.co.uk;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/askben.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/askben.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/askben.co.uk/fullchain.pem;

  return 301 https://askben.co.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name askben.co.uk;

  root /var/www/askben.co.uk;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/askben.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/askben.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/askben.co.uk/fullchain.pem;
}
