# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name basingstokeoffice.co.uk www.basingstokeoffice.co.uk basingstokeoffices.co.uk www.basingstokeoffices.co.uk basingstokeoffice.uk www.basingstokeoffice.uk basingstokeoffice.com www.basingstokeoffice.com basingstokeoffices.com www.basingstokeoffices.com space2prosper.co.uk www.space2prosper.co.uk space2prosper.uk www.space2prosper.uk space2prosper.com www.space2prosper.com;

  include /etc/nginx/h5bp/include-basic.conf;

  return 301 https://basingstokeoffice.co.uk$request_uri;
}

# todo: HTTPS redirects for - basingstokeoffices.co.uk www.basingstokeoffices.co.uk basingstokeoffice.uk www.basingstokeoffice.uk basingstokeoffice.com www.basingstokeoffice.com basingstokeoffices.com www.basingstokeoffices.com space2prosper.co.uk www.space2prosper.co.uk space2prosper.uk www.space2prosper.uk space2prosper.com www.space2prosper.com

# Space2Park redirects
server {
  listen [::]:80;
  listen 80;
  server_name space2park.org.uk www.space2park.org.uk;

  include /etc/nginx/h5bp/include-basic.conf;

  return 301 https://basingstokeoffice.co.uk/parking/;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name space2park.org.uk www.space2park.org.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/space2park.org.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/space2park.org.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/space2park.org.uk/fullchain.pem;

  return 301 https://basingstokeoffice.co.uk/parking/;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.basingstokeoffice.co.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/basingstokeoffice.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/basingstokeoffice.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/basingstokeoffice.co.uk/fullchain.pem;

  return 301 https://basingstokeoffice.co.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name basingstokeoffice.co.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  root /var/www/basingstokeoffice.co.uk/_site;

  ssl_certificate /etc/letsencrypt/live/basingstokeoffice.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/basingstokeoffice.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/basingstokeoffice.co.uk/fullchain.pem;
}
