# {{ ansible_managed }}

# Redirect www. to the main domain
server {
  listen [::]:80;
  listen 80;
  server_name www.craigydavi.uk.to;

  return 301 http://craigydavi.uk.to$request_uri;
}

# Redirect craigydavi.uk.to -> davison.io
server {
  listen [::]:80;
  listen 80;
  server_name craigydavi.uk.to;

  return 301 http://davison.io$request_uri;
}
