# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name cranleys.co.uk www.cranleys.co.uk consultants-accountant.co.uk www.consultants-accountant.co.uk consultantsaccountant.co.uk www.consultantsaccountant.co.uk consultantsaccountant.com www.consultantsaccountant.com contractorsaccountant.co.uk www.contractorsaccountant.co.uk cranleys.uk www.cranleys.uk cranleysaccountants.co.uk www.cranleysaccountants.co.uk cranleysaccountants.com www.cranleysaccountants.com cranleysaccountants.uk www.cranleysaccountants.uk cranleyslegal.co.uk www.cranleyslegal.co.uk cranleysplus.co.uk www.cranleysplus.co.uk cranleysplus.com www.cranleysplus.com heinemannconsulting.co.uk www.heinemannconsulting.co.uk help2prosper.co.uk www.help2prosper.co.uk help2prosper.com www.help2prosper.com profitaccountant.co.uk www.profitaccountant.co.uk profitaccountant.com www.profitaccountant.com profitaccountant.uk www.profitaccountant.uk;

  include /etc/nginx/h5bp/include-basic.conf;

  return 301 https://cranleys.co.uk$request_uri;
}

# todo: HTTPS redirects for - consultants-accountant.co.uk www.consultants-accountant.co.uk consultantsaccountant.co.uk www.consultantsaccountant.co.uk consultantsaccountant.com www.consultantsaccountant.com contractorsaccountant.co.uk www.contractorsaccountant.co.uk cranleys.uk www.cranleys.uk cranleysaccountants.co.uk www.cranleysaccountants.co.uk cranleysaccountants.com www.cranleysaccountants.com cranleysaccountants.uk www.cranleysaccountants.uk cranleyslegal.co.uk www.cranleyslegal.co.uk cranleysplus.co.uk www.cranleysplus.co.uk cranleysplus.com www.cranleysplus.com heinemannconsulting.co.uk www.heinemannconsulting.co.uk help2prosper.co.uk www.help2prosper.co.uk help2prosper.com www.help2prosper.com profitaccountant.co.uk www.profitaccountant.co.uk profitaccountant.com www.profitaccountant.com profitaccountant.uk www.profitaccountant.uk

# AccountantsTeam Redirects
server {
  listen [::]:80;
  listen 80;
  server_name accountantsteam.co.uk www.accountantsteam.co.uk accountantsteam.com www.accountantsteam.com accountantsteam.uk www.accountantsteam.uk accountancyfranchise.com www.accountancyfranchise.com accountantsfranchise.co.uk www.accountantsfranchise.co.uk accountantsfranchise.com www.accountantsfranchise.com accountantsfranchise.uk www.accountantsfranchise.uk;

  include /etc/nginx/h5bp/include-basic.conf;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountantsteam.co.uk www.accountantsteam.co.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountantsteam.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountantsteam.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountantsteam.co.uk/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountantsteam.com www.accountantsteam.com;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountantsteam.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountantsteam.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountantsteam.com/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountantsteam.uk www.accountantsteam.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountantsteam.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountantsteam.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountantsteam.uk/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountancyfranchise.com www.accountancyfranchise.com;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountancyfranchise.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountancyfranchise.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountancyfranchise.com/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountantsfranchise.co.uk www.accountantsfranchise.co.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountantsfranchise.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountantsfranchise.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountantsfranchise.co.uk/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountantsfranchise.com www.accountantsfranchise.com;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountantsfranchise.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountantsfranchise.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountantsfranchise.com/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name accountantsfranchise.uk www.accountantsfranchise.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/accountantsfranchise.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/accountantsfranchise.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/accountantsfranchise.uk/fullchain.pem;

  return 301 https://cranleys.co.uk/accountantsteam/$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.cranleys.co.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/cranleys.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/cranleys.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/cranleys.co.uk/fullchain.pem;

  return 301 https://cranleys.co.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name cranleys.co.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  root /var/www/cranleys.co.uk/_site;

  ssl_certificate /etc/letsencrypt/live/cranleys.co.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/cranleys.co.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/cranleys.co.uk/fullchain.pem;
}
