# {{ ansible_managed }}

# Redirect www. to the main domain
server {
  listen 80;
  listen [::]:80;
  server_name www.davison.io;

  return 301 http://davison.io$request_uri;
}

server {
  listen 80;
  listen [::]:80;
  server_name davison.io;

  root /var/www/davisonio;

  location ^~ /blog {
    proxy_set_header   X-Real-IP $remote_addr;
    proxy_set_header   Host      $http_host;
    proxy_pass         http://127.0.0.1:2368;
  }
}
