# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name davison.io www.davison.io;

  include /etc/nginx/include-basic.conf;

  return 301 https://davison.io$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.davison.io;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/davison.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/davison.io/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/davison.io/fullchain.pem;

  return 301 https://davison.io$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name davison.io;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  root /var/www/davison.io/_site;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/davison.io/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/davison.io/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/davison.io/fullchain.pem;
}
