# {{ ansible_managed }}
#
# Based on: https://github.com/h5bp/server-configs-nginx/blob/master/sites-available/no-default

# Drop requests for unknown hosts
server {
  listen 80 default_server;
  listen [::]:80 default_server;

  return 444;
}
