# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name enactusreading.com www.enactusreading.com;

  include /etc/nginx/h5bp/include-basic.conf;

  return 301 https://readingenactus.wixsite.com/enactusreading$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name enactusreading.com www.enactusreading.com;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/enactusreading.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/enactusreading.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/enactusreading.com/fullchain.pem;

  return 301 https://readingenactus.wixsite.com/enactusreading$request_uri;
}
