# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name flimr.com www.flimr.com;

  include /etc/nginx/include-basic.conf;

  return 301 https://flimr.com$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.flimr.com;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/flimr.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/flimr.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/flimr.com/fullchain.pem;

  return 301 https://flimr.com$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name flimr.com;

  root /var/www/flimr.com;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/flimr.com/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/flimr.com/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/flimr.com/fullchain.pem;
}
