# {{ ansible_managed }}

# Redirect www. to the main domain
server {
  listen [::]:80;
  listen 80;
  server_name www.flimr.com;

  return 301 http://flimr.com$request_uri;
}

server {
  listen [::]:80;
  listen 80;
  server_name flimr.com;

  location / {
    root /var/www/flimrcom;
    index index.html;
    rewrite ^/$ /index.html break;
  }
}
