# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name ridearoundhook.org.uk www.ridearoundhook.org.uk;

  include /etc/nginx/h5bp/include-basic.conf;

  return 301 https://ridearoundhook.org.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.ridearoundhook.org.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  ssl_certificate /etc/letsencrypt/live/ridearoundhook.org.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ridearoundhook.org.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/ridearoundhook.org.uk/fullchain.pem;

  return 301 https://ridearoundhook.org.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name ridearoundhook.org.uk;

  include /etc/nginx/h5bp/include-basic.conf;
  include /etc/nginx/h5bp/include-ssl.conf;

  root /var/www/ridearoundhook.org.uk/_site;

  ssl_certificate /etc/letsencrypt/live/ridearoundhook.org.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ridearoundhook.org.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/ridearoundhook.org.uk/fullchain.pem;
}
