# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;
  server_name space2park.org.uk www.space2park.org.uk;

  include /etc/nginx/include-basic.conf;

  return 301 https://space2park.org.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.space2park.org.uk;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/space2park.org.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/space2park.org.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/space2park.org.uk/fullchain.pem;

  return 301 https://space2park.org.uk$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name space2park.org.uk;

  root /var/www/space2park.org.uk/_site;

  include /etc/nginx/include-ssl.conf;
  include /etc/nginx/include-basic.conf;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/space2park.org.uk/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/space2park.org.uk/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/space2park.org.uk/fullchain.pem;

  # Redirects for migrating from space2park.yolasite.com -> space2park.org.uk
  location /bramblys-close-car-park---basingstoke.php {
      return 301 /bramblys-close-car-park-basingstoke/;
  }
  location /peak-parking-applications.php {
      return 301 /peak-parking-application/;
  }
  location /peak-application-payments.php {
      return 301 /peak-application-payments/;
  }
  location /off-peak-parking-application.php {
      return 301 /off-peak-parking-application/;
  }
  location /off-peak-application-payments.php {
      return 301 /off-peak-application-payments/;
  }
  location /parking-regulations.php {
      return 301 /assets/doc/parking-regulations.pdf;
  }
  location /contact-us.php {
      return 301 /contact-us/;
  }
}
