# {{ ansible_managed }}

# Drop requests for unknown hosts
server {
  listen [::]:80 default_server;
  listen 80 default_server;

  include /etc/nginx/h5bp/include-basic.conf;

  return 444;
}

#server {
#  listen [::]:443 ssl default_server;
#  listen 443 ssl default_server;
#
#  include /etc/nginx/h5bp/include-basic.conf;
#  include /etc/nginx/h5bp/include-ssl.conf;
#
#  return 444;
#}
