# {{ ansible_managed }}

{% for defaults in sudo_defaults %}
Defaults      {{ defaults }}
{% endfor -%}

# User privilege specification
root ALL=(ALL:ALL) ALL
{% for user in sudo_users -%}
{{ user }} ALL=(ALL:ALL) {% if user in sudo_user_nopasswd %}NOPASSWD:{% endif %}ALL
{% endfor %}

# Group privilege specification
{% for group in sudo_groups -%}
%{{ group }} ALL=(ALL:ALL) {% if group in sudo_group_nopasswd %}NOPASSWD:{% endif %}ALL
{% endfor %}

#includedir /etc/sudoers.d
